* Common style */
.slide-link {
  position: relative;
  float: left;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
  flex: 1 0 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    max-width: 33%;
  @media (max-width: @screen-xs){
      flex:1 0 100%;
      max-width: 100%;
    }
}

.slide-link.gem_small {
  max-width: 100%;
  margin-bottom:0;
}

.slide-link img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  backface-visibility: hidden;
  opacity: 0.8;
  transition: transform 0.35s, opacity 0.35s;
  @media (max-width: @screen-xs){
      opacity: 0.6;
      min-height: 0;
    }
}
.slide-link:hover img {
  transform: translate3d(0,-74px,0);
  opacity:0.5;
}

.slide-link figcaption {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  img {
    position: absolute;
    height: 60px;
    top:130px;
    right:14px;
    min-height: 0;
    opacity: 0;
    @media (max-width: @screen-xs){
      opacity:1;
      transform: translate3d(0,-70px,0);
    }
  }
}
.slide-link:hover figcaption img {
  transform: translate3d(0,-70px,0);
  opacity:1;
}

.slide-link figcaption::before,
.slide-link figcaption::after {
  pointer-events: none;
}

.slide-link figcaption,
.slide-link figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.slide-link figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.slide-link h3,
.slide-link p {
  transition: transform 0.35s, opacity 0.35s;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 14px 30px;
  color:white;
}

.slide-link h3 {
  word-spacing: -0.15em;
  font-weight: 300;
  width: 100%;
  @media (max-width: @screen-xs){
     transform: translate3d(0,-20px,0);
     font-size:1.2em;
    }
}
.slide-link:hover h3 {
  transform: translate3d(0,-20px,0);
}
.gem_small.slide-link h3 {
  @media (max-width: @screen-xs){
     transform: translate3d(0,-60px,0);
    }
}
.gem_small.slide-link:hover h3 {
  transform:translate3d(0,-72px,0);
}

.slide-link p {
  line-height: 1em;
  text-transform: none;
  font-size: 90%;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(0,50px,0);
  color: white;
  letter-spacing: 1px;
  font-size: 68.5%;
  @media (max-width: @screen-xs){
     transform: translate3d(0,0,0);
     opacity: 1;
    }
}
.slide-link:hover p {
  opacity: 1;
  transform: translate3d(0,0,0);
}
.gem_small.slide-link p {
  @media (max-width: @screen-xs){
     transform: translate3d(0,-22px,0);
    }
}
.gem_small.slide-link:hover p {
  transform: translate3d(0,-22px,0);
}
.slide-link .meta {
  width: 221px;
  background: white;
  display: block;
  height: 1.3em;
  bottom: -26px;
  left: 0;
  position: absolute;
  font-size: 1.3em;
  line-height: 1.3em;
  transition: transform 0.35s;
  transform: translate3d(0,0,0);
  z-index: 1003;
  @media (max-width: @screen-xs){
     transform: translate3d(0,-26px,0);
    }
}
.slide-link:hover .meta {
  transform: translate3d(0,-26px,0);
}
.slide-link .meta span {
  color:black;
  transition: color 0.45s;
}
.slide-link .meta span:hover{
  color: @highlight;
}










.cd-main-content {
  position: relative;
}
.cd-main-content:after {
  content: "";
  display: table;
  clear: both;
}

.cd-subtab-filter-wrapper {
  width:100%;
}



/* --------------------------------

xtab-filter

-------------------------------- */
.cd-tab-filter-wrapper {
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  z-index: 1;
}
.cd-subtab-filter-wrapper {
  background-color: lighten(@highlight, 25%);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  z-index: 1;
}

.cd-tab-filter-wrapper:after, .cd-subtab-filter-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.cd-tab-filter {
  /* tabbed navigation style on mobile - dropdown */
  position: relative;
  height: 50px;
  width: 140px;
  margin: 0 auto;
  z-index: 1004;
}
.cd-tab-filter::after {
  /* small arrow icon */
  content: '';
  position: absolute;
  right: 14px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../images/cd-icon-arrow.svg") no-repeat center center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}
.cd-tab-filter ul {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: inset 0 -2px 0 #41307c;
}
.cd-tab-filter li {
  display: none;
}
.cd-tab-filter li:first-child {
  /* this way the placehodler is alway visible */
  display: block;
}
.cd-tab-filter a {
  display: block;
  /* set same size of the .cd-tab-filter */
  height: 50px;
  width: 140px;
  line-height: 50px;
  padding-left: 14px;
}
.cd-tab-filter a.selected {
  background: @highlight;
  color: #ffffff;
}
.cd-tab-filter.is-open::after {
  /* small arrow rotation */
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -moz-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  -o-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
}
.cd-tab-filter.is-open ul {
  box-shadow: inset 0 -2px 0 #41307c, 0 2px 10px rgba(0, 0, 0, 0.2);
}
.cd-tab-filter.is-open ul li {
  display: block;
}
.cd-tab-filter.is-open .placeholder a {
  /* reduces the opacity of the placeholder on mobile when the menu is open */
  opacity: .4;
}
@media only screen and (min-width: 768px) {
  .cd-tab-filter {
    /* tabbed navigation style on medium devices */
    width: auto;
    cursor: auto;
  }
  .cd-tab-filter::after {
    /* hide the arrow */
    display: none;
  }
  .cd-tab-filter ul {
    background: transparent;
    position: static;
    box-shadow: none;
    text-align: center;
  }
  .cd-tab-filter li {
    display: inline-block;
  }
  .cd-tab-filter li.placeholder {
    display: none !important;
  }
  .cd-tab-filter a {
    display: inline-block;
    padding: 0 1em;
    width: auto;
    color: #9a9a9a;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
  }
  .no-touch .cd-tab-filter a:hover {
    color: #41307c;
  }
  .cd-tab-filter a.selected {
    background: transparent;
    color: #41307c;
    /* create border bottom using box-shadow property */
    box-shadow: inset 0 -2px 0 #41307c;
  }
  .cd-tab-filter.is-open ul li {
    display: inline-block;
  }
  .cd-subtab-filter-wrapper {
    display:none;
  }
  .cd-subtab-filter-wrapper.is-open {
    display: inline-block;
  }
  .cd-tab-filter .subfilter a{
    font-size: 0.9rem;
    height:20px;
    line-height: 20px;
    padding:0 0.6em;
  }
  .cd-subtab-filter-wrapper .cd-tab-filter {
    height: 75px;
  }


}
@media only screen and (min-width: 1170px) {
  .cd-tab-filter {
    /* tabbed navigation on big devices */
    width: 100%;
    float: right;
    margin: 0;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
  }
  .cd-tab-filter.filter-is-visible {
    /* reduce width when filter is visible */
    width: 80%;
  }
}

/* --------------------------------

xgallery

-------------------------------- */
.cd-gallery {
  padding: 26px 5%;
  width: 100%;
}
.cd-gallery ul {
    max-width: 220px;
    margin: 0 auto;
}
.cd-gallery li {
  margin-bottom: 1.6em;
  display: none;
  background-color:@highlight;
}
.cd-gallery li.gap {
  /* used in combination with text-align: justify to align gallery elements */
  opacity: 0;
  height: 0;
  display: inline-block;
}
.cd-gallery img {
  display: block;
  width: 100%;
    padding: 10px 10px 0 10px;
}
.cd-gallery .cd-fail-message {
  display: none;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .cd-gallery {
    padding: 40px 3%;
  }
  .cd-gallery ul {
    max-width: 100%;
    text-align: justify;
  }
  .cd-gallery ul:after {
    content: "";
    display: table;
    clear: both;
  }

}
@media only screen and (min-width: 1170px) {
  .cd-gallery {
    padding: 50px 2%;
    float: right;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
  }
  .cd-gallery li {
    width: 23%;
  }
  .cd-gallery.filter-is-visible {
    /* reduce width when filter is visible */
    width: 80%;
  }
}

.cd-gallery li.kenmare {
  background-color: @kenmare;
}

.cd-main-content.is-fixed .cd-gallery {
  padding-top: 10px;
}
.cd-main-content.is-fixed .cd-filter {
  position: fixed;
  height: 100vh;
  overflow: hidden;
}
.cd-main-content.is-fixed .cd-filter form {
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.cd-main-content.is-fixed .cd-filter-trigger {
  position: fixed;
}
